/* CONFIG */

:root{
    --bg-primary:#0E79B2;
    --text-btn-color:#FBFEF9;
    --text-color: #191923;
    --danger-alert:#b81f1f;
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}


.center-text{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
html{
    color: var(--text-color);


}
body.login {
position: relative;

}


/* LOGIN FORM */

body.login ,body.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;


}


body.login section,body.signup section{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 50px;
  border-radius: 12px;



}





form.login li,form.signup li, body.app  li {
    list-style: none;
    background-color:var(--danger-alert);
    color: var(--text-btn-color);
    padding: 12px 8px;
    border-radius: 12px;
}

li.errorlist{
  display: none;
}

li.success{
  background-color: greenyellow;
  display: none;
}

form.login,form.signup {
    display: flex;
    flex-direction: column;
    gap: 5px;

}



form input#id_username,
input#id_password,
input#id_name,
input#message,
 input#id_email,
 input#id_password1,
 input#id_password2
 {
    width: 100%;
    padding: 12px 8px;
    border-radius: 12px ;
    border: #0E79B2 1px solid;

}
form input#id_username:focus,
input#id_password:focus,
input#id_name:focus,
input#message:focus,
 input#id_email:focus,
 input#id_password1:focus,
 input#id_password2:focus{
  outline: 2px solid rgba(28,110,164,0.52);
  outline-offset: 1px;

 }

label[for="id_username"],label[for="id_password"], label[for="id_name"]{
    display: block;
}

.btn{
    padding: 12px 8px;
    border-radius: 12px;
    border: none;
    margin-top: 24px;
    background-color: var(--bg-primary);
    width: 100%;
    text-transform: uppercase;
    color:var(--text-btn-color) ;
    cursor: pointer;
}

/* HOME PAGE */

.app h1{
    color: var(--text-btn-color);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E79B2;
    padding: 20px;
}

nav .menu_options{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-disconnect{
    background-color: var(--text-btn-color);
    color: var(--bg-primary);
}

.room_create_container{
    padding: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.rooms{
    display: flex;
    flex-wrap: wrap;
}


/* ROOM CARD */
.ag-courses_box {



    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;

    overflow: hidden;

    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: var(--bg-primary);

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  /* CHAT APP  */
  .message-container{
    padding: 40px;
    background-color: var(--text-btn-color);


  }
  #messages{
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #messages .user-message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
;

    .chat{
        width: 350px;
        margin-bottom: 10px;

    }


  }
  #messages .other-message{
    display: flex;
    flex-direction: column;
    align-items: flex-end;



    .chat{
        width: 350px;
        background-color: #b81f1f;
        margin-bottom: 10px;

    }

  }
  /* CHAT INPUT AND BUTTON SEND */

  input#message{
    margin-top: 50px;
}

  .send-message{
    width:auto;
    margin: 0;
    height: 50px;

  }

  /* CHAT COMPONENT */

  #messages{
    padding: 40px;

  }




  .chat {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid #d3d3d35e;
    background-color: var(--bg-primary);
    padding: 10px;
    border-radius: 12px;
    width: 400px;
}

.contact_name {font-weight: 500;

  color: var(--text-btn-color);
     font-size: 11px;
    margin-bottom: 2px;}

.contact_msg {

     font-size: 15px;
    color: var(--text-btn-color);;

}
.chat_info {width: 50%;}

.chat_date {
    font-size: 12px;
    color: var(--text-btn-color);;
  margin-bottom: 2px;

}

/* SIGNUP PAGE */

#id_username_helptext{
  display: none;
}
#id_password1_helptext ul{
 text-align: center;
 margin-bottom: 8px;
 font-size: 12px;

}

body .btn-google{
  background-color: var(--text-btn-color) ;
  color: var(--bg-primary);
  border: 1px black solid;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* PAGINATION */


    .pagination {
        margin-top: 20px;
        text-align: center;
    }

    .pagination .step-links a {
        padding: 5px 10px;
        margin: 0 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-decoration: none;
        color: #333;
    }

    .pagination .step-links a:hover {
        background-color: #f0f0f0;
    }

    .pagination .step-links .current {
        padding: 5px 10px;
        margin: 0 5px;
        background-color: #007bff;
        border: 1px solid #007bff;
        border-radius: 3px;
        color: #fff;
    }

#messages img{
  height: 200px;
  height: 250px;
  margin-bottom: 10px;
}

/* SEND IMAGE BTN */

input[type=file] {
  width: 350px;
  max-width: 100%;
  height: 50px;
border-radius: 12px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid var(--bg-primary);
}

input[type=file]:focus {
  outline: 2px dashed #222245;
  outline-offset: 2px;
}

input[type=file]::file-selector-button {
  margin-right: 8px;
  border: none;
  background-color: var(--bg-primary);
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
}

/* BOUTONS D'ENVOIS CONTAINER */

.send-btn-container{
display: flex;
align-items: center;
margin-top: 10px;
gap: 10px;
}

/* FORM ANIMATION */

.box {

	border: 0.35rem solid;

	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}